.aq {
    padding: 1rem 1rem 1rem 1rem;
    /* change padding */
    background: #f6f6f6;
    border-radius: 5px;
    display: grid;
    position: relative;
}
.text {
    padding: 0 !important;
}
.aq_header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}
.aq_header input {
    height: 30px;
    border: 0;
    border-radius: 5px;
    margin: 0;
    padding: 0 1rem;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.aq_header__select {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
}
.aq_header__select___item span:not(.active) {
    color: #868686;
    cursor: pointer;
    transition: 0.2s;
}
.aq_header__select___item span:hover:not(.active) {
    color: #000;
    transition: 0.2s;
}
.active {
    color: #002beb;
    cursor: pointer;
}
.aq_body {
    padding-top: 1rem;
    border-top: 1px solid rgb(216, 216, 216);
}
.aq_body__wrapper {
    display: grid;
    grid-gap: 1rem;
}
.aq_body__item {
    display: grid;
    grid-template-columns: 3fr auto auto 1fr;
    grid-gap: 1rem;
    align-items: center;
}
.aq_body__item___label {
    display: grid;
}
.aq_body__item___label input {
    height: 30px;
    border: 0;
    border-radius: 5px;
    margin: 0;
    padding: 0 1rem;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.aq_body__item___state {
    color: #cacaca;
    display: grid;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}
.aq_body__item___state:hover:not(.active) {
    color: #000;
    transition: 0.2s;
}
.aq_body__add {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
}
.aq_body__add___content {
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 14px;
    transition: 0.2s;
    color: #637ceb;
    cursor: pointer;
}
.aq_body__add___content:hover {
    color: #002beb;
    transition: 0.2s;
}
.aq_submit {
    position: absolute;
    top: 1rem;
    right: calc(-24px - 1rem);
    padding: 0 1rem 0 0;
    height: 30px;
    display: grid;
    background: #6b83ee;
    border-radius: 0 5px 5px 0;
    color: #fff;
    align-items: center;
    transition: 0.2s;
    z-index: 101;
    cursor: pointer;
}
.aq_submit:not(.done):hover {
    background: #002beb;
}
.done {
    /* opacity: 0; */
    background: #bdbdbd;
    transition: 0.2s;
    /* z-index: 99; */
}
.done span {
    transition: 0.2s;
    transform: rotate(45deg);
}
