.header {
    height: 50px;
    display: grid;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 11;
    justify-content: end;
    grid-gap: 0.2rem;
    grid-template-columns: auto auto;
    background: rgb(226, 226, 226);
}
.header_login {
    margin-right: 1rem;
    padding: 10px 1rem;
    cursor: pointer;
}