.detail {
    display: grid;
    grid-gap: 1rem;
}
.detail_item {
    padding: 1rem;
    background: #f0f0f0;
    display: grid;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
}